// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// 全体共通
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $font-color1;
}

html {
    font-size: 1em;
    height: 100%;
}

ul,
li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-blue {
    background-color: $main-color;
}

.snow {
    color: snow; /*雪の色*/
    font-size: 18px; /*雪の大きさ*/
    position: fixed;
    top: -5%; /*初期位置*/
    text-shadow: 5vw -100px 2px, 10vw -400px 3px, 20vw -500px 4px,
        30vw -580px 1px, 39vw -250px 2px, 42vw -340px 5px, 56vw -150px 2px,
        63vw -180px 0, 78vw -220px 4px, 86vw -320px 9px, 94vw -170px 7px,
        5vw -600px 2px, 10vw -700px 3px, 20vw -680px 4px, 30vw -880px 1px,
        39vw -750px 2px, 42vw -940px 5px, 56vw -850px 2px, 63vw -1080px 0,
        78vw -620px 4px, 86vw -720px 9px, 94vw -870px 7px, 5vw -900px 2px,
        10vw -1000px 3px, 20vw -2000px 4px;
    animation: anim 8s linear infinite;
}

@keyframes anim {
    100% {
        color: transparent;
        top: 150%;
    }
}

.return {
    color: $font-color1;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-top: 80px;
}

// welcome
.welcome-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .welcome-title {
        color: snow;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
    }

    .welcome-text {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        margin-top: 50px;
    }

    .welcome-btn {
        justify-content: space-evenly;
        padding: 0 31rem;
        padding-top: 50px;

        .btn {
            font-size: 1.5rem;
            color: $font-color1;
            background-color: $main-color;
            border-bottom: 5px solid #628fad;
            display: inline-block;

            &:hover {
                margin-top: 3px;
                color: $font-color1;
                background: $main-color;
                border-bottom: 2px solid #628fad;
            }
        }
    }
}

// form
.card {
    background-color: $main-color;

    .card-header {
        background-color: $main-color;
    }

    .card-body {
        background-color: $sub-color2;
    }
}

// home
.ski-resort-search {
    color: $sub-color2;
    text-align: center;
    font-size: 4rem;
    margin-top: 80px;
}

.ski-resort-list {
    margin-top: 50px;
    text-align: center;

    .ski-resorts {
        color: $font-color1;
        font-size: 2rem;
        line-height: 80px;
        display: inline;
    }
}

// ski-resort
.ski-resort {
    text-align: center;
    font-size: 4rem;
    margin-top: 80px;
}

.ski-resort-table {
    margin: 80px auto 0;
    text-align: center;
    width: 50%;
    font-size: 3rem;
    border: solid 8px $main-color;

    td {
        padding: 0.8rem;
        background: snow;
    }
}

// my-page
.my-page-table {
    margin: 80px auto 0;
    text-align: center;
    width: 55%;
    font-size: 3rem;
    border: solid 8px $main-color;

    td {
        padding: 1rem;
        background: snow;
    }
}

.my-page-btn {
    justify-content: space-evenly;
    padding: 0 23rem;
    padding-top: 80px;

    .btn {
        font-size: 2rem;
        color: $font-color1;
        background-color: $main-color;
        border-bottom: 5px solid #628fad;
        display: inline-block;
        margin: 0 2rem;

        &:hover {
            margin-top: 3px;
            color: $font-color1;
            background: $main-color;
            border-bottom: 2px solid #628fad;
        }
    }
}

// records/post
.record-post {
    flex-direction: column;
    font-size: 2rem;

    .label {
        margin: 10px 0 0;
    }

    dt {
        position: relative;

        p {
            opacity: 0.6;
            font-size: 1rem;
            margin: 0;
        }

        .mandatory-date {
            color: red;
            font-size: 1.25rem;
            position: absolute;
            width: 100px;
            top: 35%;
            left: 100px;
        }

        .mandatory-ski-resort {
            color: red;
            font-size: 1.25rem;
            position: absolute;
            width: 100px;
            top: 35%;
            left: 165px;
        }

        .any-text {
            position: absolute;
            width: 100px;
            top: 40%;
            left: 70px;
        }

        .any-img {
            position: absolute;
            width: 100px;
            top: 40%;
            left: 135px;
        }
    }

    dd {
        width: 100%;
        text-align: center;

        .textarea {
            width: 50%;
            height: 175px;
        }
    }

    .submit {
        padding: 1px 0.5rem;
        margin-top: 10px;
    }
}

// records/edit
.record-post {
    dt {
        .mandatory-date {
            color: red;
            font-size: 1.25rem;
            position: absolute;
            width: 100px;
            top: 35%;
            left: 100px;
        }

        .mandatory-ski-resort {
            color: red;
            font-size: 1.25rem;
            position: absolute;
            width: 100px;
            top: 35%;
            left: 165px;
        }
    }

    .record-img {
        margin-top: 28px;

        &.hidden {
            display: none;
        }

        img {
            border-radius: 1%;
        }
    }

    .img-button-Wrapper {
        flex-direction: column;
    }

    .img-button {
        font-size: 1.5rem;
        padding: 1px 0.5rem;
        width: 12rem;
        margin-left: 3rem;
        margin-top: 10px;
        margin-bottom: 10px;

        .img-delete {
            margin: 0;
        }
    }

    .img-input-hidden {
        display: none;

        &.active {
            display: inline;
            text-align: center;

            .any-img {
                left: 370px;
            }
        }
    }

    .img-input {
        text-align: center;

        .any-img {
            left: 370px;
        }
    }

    .edit-submit {
        padding: 1px 0.5rem;
        margin-top: 28px;
    }
}

// records/list
.records-list {
    width: 70%;
    margin: 0 auto 15px;
    border: 2px solid gray;
    padding: 1rem 1.5rem;
    background-color: #f2f2f2;

    &:hover {
        background-color: gainsboro;
    }
}

.records-link:hover {
    text-decoration: none;
}

.records-img-wrap {
    width: 30%;
    height: 13rem;
}

.records-img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.records-table {
    margin-left: 2rem;
    width: 70%;

    .records-ski-resort {
        font-size: 2rem;
    }

    .records-date {
        font-size: 1.25rem;
    }

    .records-body {
        font-size: 1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

// records/show
.record {
    width: 80%;
    margin: 0 auto;
    background-color: #f2f2f2;

    .record-date {
        padding-top: 16px;
        margin-left: 1rem;
        font-size: 2rem;
    }

    .record-ski-resort {
        text-align: center;
        width: 70%;
        margin: 0 auto 16px;
        font-size: 2.5rem;
    }

    .record-img {
        width: 80%;
        text-align: center;
        border-radius: 1%;
        display: block;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .record-body {
        font-size: 1.5rem;
        width: 65%;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .record-btn-wrapper {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 16px;

        .back {
            margin-right: auto;
            background-color: gray;
            color: #fff;
            border-color: $font-color1;

            &:hover {
                opacity: 70%;
            }
        }

        .edit {
            background-color: blue;
            color: #fff;
            border-color: $font-color1;
            margin-right: 1rem;

            &:hover {
                opacity: 70%;
            }
        }

        .destroy {
            background-color: red;
            color: #fff;
            border-color: $font-color1;

            &:hover {
                opacity: 70%;
            }
        }
    }
}
